body {
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #f8f9f5 !important;
  }